NEXT_PUBLIC_SUPABASE_URL=https://elzxkrpkvabxfferhnmm.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVsenhrcnBrdmFieGZmZXJobm1tIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM3NTUwMzAsImV4cCI6MjA4OTMzMTAzMH0.rGU36zkfZI39f6OtiolNEhul25wRTtruzoJlHdVh24s
NEXT_PUBLIC_GOOGLE_MAPS_KEY=
