NEXT_PUBLIC_SUPABASE_URL=https://nupbydigpqjppcplmeyf.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im51cGJ5ZGlncHFqcHBjcGxtZXlmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM4NDU4NDAsImV4cCI6MjA4OTQyMTg0MH0.oy8cOZJvKiaciPJFtD5vCOsA3HjY7pAINF2uw-Q5MTw
NEXT_PUBLIC_GOOGLE_MAPS_KEY=
